node_modules
out
dist
*.tgz
coverage*
*.lcov
logs
*.log
.env*
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
.vscode
.git
.gitignore
.dockerignore
.editorconfig
docker-compose*
Dockerfile*
*.md
LICENSE
Makefile
helm-charts

/db/
/db_test/

tests
scripts
docs
CLAUDE.md
AGENTS.md
postgres-locla-prod.conf