# Required
DISCORD_TOKEN=
GOOGLE_API_KEY=
DATABASE_URL=postgresql://genie:genie@localhost:5432/genie

# Optional
TRIAGE_THINKING_LEVEL=minimal
# Useful for debugging to see LLM thoughts in the console and LangSmith traces, but can be increase latency as 
# Gemini models modify / regenerate thought tokens to prevent scraping from other providers
INCLUDE_LLM_THOUGHTS=true
LOG_LEVEL=info
# NODE_ENV=production

# NOTE: disable for tests to fix errors with fetch interceptions
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT='genie-ai'